doctype strict
html(lang='en',dir='ltr',xmlns='http://www.w3.org/1999/xhtml')

  head
    title Anton Kotenko — Java/JavaScript UI Developer
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='generator', content='Sublime Text, http://www.sublimetext.com/, CodeKit, https://incident57.com/codekit/')
    //- SASS style options: :expanded
    style(type='text/css')
        = '\n\n'
        include:css ./styles/cv.css

  body
    include cv_body.jade


