doctype html

- var css_src = './styles/main.css';
- var js_src = './scripts/main.js';
- var favicon_src = './favicon.gif';

html(lang='en')

  head
    meta(charset='utf-8')
    link(href=css_src, rel='stylesheet')
    link(rel='shortcut icon', href=favicon_src, type='image/gif')
    script(src=js_src, type='text/javascript')

  body.theme-default

    // MAIN
    main
      content
          
          // TITLE (ABOUT)
          
          //- h1#intro Intro
          
          include sections/intro
          
          // CONTACTS (address and online stuff), VCARD, GEEK-CODE
          
          h1#contacts Contacts
          
          include sections/contacts
          
          // SOCIAL NETWORKS
          
          h2#social Social
          
          include sections/social
          
          // CV & WORK STORY
          
          h2#work Work
          
          include sections/work
          
          // GITHUB & PERSONAL PROJECTS (w/description)
          
          h2#hobby Hobby
          
          include sections/hobby
          
          // LATEST BLOG POSTS
          
          h2#posts Posts
          
          include sections/posts          
          
          // MUSIC
          
          h2#sounds Sounds
          
          include sections/sounds
          
          // NO-PROGRAMMING PROJECTS
          
          h2#no-code No-Code
          
          include sections/no-code
          
          // SITE HISTORY
          
          h2#history History
          
          include sections/history

    footer
      p Designed by shaman.sir &copy; 2016
