html(lang='en')

    head
        meta(charset='utf-8')
        title D3 Test
        link(href=css_src, rel='stylesheet')
        link(rel='shortcut icon', href=favicon_src, type='image/gif')
        script(src='d3/d3.v3.min.js', type='text/javascript')
        
    body
        script(src='script/main.js', type='text/javascript')
