doctype html

- var css_src = './styles/main.css';
- var favicon_src = './favicon.png';

html(lang='en')

  head
    meta(charset='utf-8')
    link(href=css_src, rel='stylesheet')
    link(rel='shortcut icon', href=favicon_src, type='image/png')

    include sections/head
    include sections/script-begin

  // .no-js class will be removed by js, if it's there
  body.no-js.theme-a

    // NAVIGATION
    nav
      include sections/nav

    // SECTION: ABOUT
    header#about

      div
        include sections/about

    // MAIN
    main

      // SECTION: CONTACTS
      section#contacts
        h2 Contacts

        div
          include sections/contacts

      // SECTION: POSTS
      section#posts
        h2 Posts

        div
          include sections/posts

      // SECTION: LINKS
      section#links
        h2 Links

        div
          include sections/links

      //- // SECTION: VCARD
      //- section#vcard
      //-  h2 VCard

      //-  include sections/vcard

      // SECTION: CV
      section#cv
        h2 CV

        div
          include sections/cv

      // SECTION: CV
      section#sounds
        h2 Sounds

        div
          include sections/sounds

      //- // SECTION: STORY
      //- section#story
      //-   h2 Story

      //-   include sections/story

      // SECTION: SOCIAL
      section#social
        h2 Social

        div
          include sections/social

    footer
      p Designed by shaman.sir &copy; 2014

    include sections/script-end
