doctype html

- var css_src = './styles/main.css';
- var js_src = './scripts/main.js';
- var favicon_src = './favicon.gif';

html(lang='en')

  head
    meta(charset='utf-8')
    link(href=css_src, rel='stylesheet')
    link(rel='shortcut icon', href=favicon_src, type='image/gif')
    script(src=js_src, type='text/javascript')

  body.theme-default

    // MAIN
    main
      content
          
          // TITLE (ABOUT)
          
          section.intro
          
              //- h1#intro Intro
          
              div.section-content
                  include sections/intro
          
          // CONTACTS (address and online stuff), VCARD, GEEK-CODE
          
          section.contacts
          
              h2#contacts Contacts
          
              div.section-content
                  include sections/contacts
          
          // SOCIAL NETWORKS
          
          section.social
          
              h2#social Social
          
              div.section-content
                  include sections/social
          
          // CV & WORK STORY
          
          section.work
          
              h2#work Work
          
              div.section-content
                  include sections/work
          
          // GITHUB & PERSONAL PROJECTS (w/description)
          
          section.hobby
          
              h2#hobby Hobby
          
              div.section-content
                  include sections/hobby
          
          // LATEST BLOG POSTS
          
          section.posts 
          
            h2#posts Posts
          
            div.section-content
                include sections/posts          
          
          // MUSIC
          
          section.music
          
              h2#sounds Sounds
          
              div.section-content
                  include sections/sounds
          
          // NO-PROGRAMMING PROJECTS
          
          section.no-code
              
              h2#no-code No-Code
          
              div.section-content
                  include sections/no-code
          
          // SITE HISTORY
          
          section.history
              
              h2#history History
          
              div.section-content
                  include sections/history

    footer
      p Designed by shaman.sir &copy; 2016
