doctype html

- var css_src = './styles/main.css';
- var js_src = './scripts/main.js';
- var favicon_src = './favicon.gif';

html(lang='en')

  head
    meta(charset='utf-8')
    link(href=css_src, rel='stylesheet')
    link(rel='shortcut icon', href=favicon_src, type='image/gif')
    script(src=js_src, type='text/javascript')

  body.theme-default      

    // NAVIGATION
    nav
      ul

        mixin nav_item(id, label)
          a(href!='#'+id)= label

        li: +nav_item('about', 'About')
        li: +nav_item('contacts', 'Contacts')
        li: +nav_item('social', 'Social')
        li: +nav_item('work', 'Work')
        li: +nav_item('hobby', 'Hobby')
        li: +nav_item('posts', 'Posts')
        li: +nav_item('sounds', 'Sounds')
        li: +nav_item('no-code', 'No-code')
        li: +nav_item('history', 'History')

    // MAIN
    main
      content
          
          // TITLE (ABOUT)
          
          h1#about
          
          include sections/about
          
          // CONTACTS (address and online stuff), VCARD, GEEK-CODE
          
          h1#contacts
          
          include sections/contacts
          
          // SOCIAL NETWORKS
          
          h1#social
          
          include sections/social
          
          // CV & WORK STORY
          
          h1#work
          
          include sections/work
          
          // GITHUB & PERSONAL PROJECTS (w/description)
          
          h1#hobby
          
          include sections/hobby
          
          // LATEST BLOG POSTS
          
          h1#posts
          
          include sections/posts          
          
          // MUSIC
          
          h1#sounds
          
          include sections/sounds
          
          // NO-PROGRAMMING PROJECTS
          
          h1#no-code
          
          include sections/no-code
          
          // SITE HISTORY
          
          h1#history
          
          include sections/history

    footer
      p Designed by shaman.sir &copy; 2014
