html(lang='en')

    head
        meta(charset='utf-8')
        title -[ shaman.sir ]-
        link(href='./style.css', rel='stylesheet')
        link(rel='shortcut icon', href='./favicon.png', type='image/png')
        script(src='d3/d3.v3.min.js', type='text/javascript')
        script(src='d3/colorbrewer.js', type='text/javascript')
        script(src='data/experience.js', type='text/javascript')        
    body
            
        h1 Ulric Wilfred
        
        h2 Intro
        
        p Hi, my real name is Anton Kotenko, my nickname is shaman.sir, and my major amusement in life is web development 
          | which can be narrowed with visual representation of complex things. 
          | Oh, wait! That's my job, actually! 
          
        h2 Hobbies
          
        p Hobbies? Boring stuff like biking TODO through the cities, gaming, visiting 
          | concerts, being inspired with modern architecture, digital and contemporary art. Everything what hippie-boys 
          | like me like to do. Sometimes I try other things, but let's talk about them later.
          
        h2 History
        
        p Every year or two something fires in me a will to change my home page design 
          | and I do it again and again, yet no other man cares. Last years I try to be as minimalistic as possible.
          | If this variant is like this, it can be the last one, though, who knows? If you, by chance, want to
          | take a look at the prehistoric versions, here they are: TODO. As you may notice, I
          | like to store useless stuff like a rat. But in the end I like to keep it organized well!
          
        h2 Origin
          
        p I was born in Saint-Peterburg, Russia, in March of 1984. This city is one of the best and beautiful ones in Russia and I'm glad it happened there.
          | In 2011 I moved to Odessa, Ukraine, and lived there for two and a half years. There was the sun, the sea, the authentic people and a lot of new friends I miss and keep connected with.
          | Currently I live and work in Munich, Bayern, Germany. It consists of truly a lot of things, mixes old and modern, green places. Finally, I feel getting into food.  TODO
          
        h2 Experience
          
        p Let's get to business. My experience in "coding" counts to 10 years plus, though
          | officially it may be only five years or so. Here's a timeline of my occupation:
          
        svg#experience
         
        p If you are really into details, you may check out my 
            a(href='./cv.html') CV
            | .
            
        h2 Own projects
            
        p I've done several projects on my own, which are open source. Mostly 
            | because I like to learn new things through experimentation and practice, but it 
            | doesn't mean they are useless, just take a look:
            
        h2 Blog
            
        p I write a blog in Russian and English, some posts are unique for one of the languages, some not.
            | Here I tried to structurize them:
            
        h2 Lectures
        
        p Several times I appeared as a speaker at different events related to programming: TODO slides and videos
        
        h2 Music
            
        p Lastly, in some spare moments I write electronic music, and since I have no proper education, you could find it quite strange, 
            | but some people say it's rather not bad than very bad, so I decided to also share it with you.
            
        h2 Outro
            
        p Now it's time to make my bow, or this site won't be minimalistic again. See you in the social media, tschuss :-*.
        
    footer
        p Designed by shaman.sir &copy; 2015

    script(src='script/experience.js', type='text/javascript')
    script(src='script/main.js', type='text/javascript')
