doctype html

- var css_src = './styles/main.css';
- var js_src = './scripts/main.js';
- var favicon_src = './favicon.gif';

html(lang='en')

  head
    meta(charset='utf-8')
    link(href=css_src, rel='stylesheet')
    link(rel='shortcut icon', href=favicon_src, type='image/gif')
    script(src=js_src, type='text/javascript')

  body.theme-default      

    // NAVIGATION
    nav
      ul

        mixin nav_item(id, label)
          a.seg-href(id!=id+'-href',
                     href!='#'+id)= label

        li.active
            +nav_item('about',    'About')
        li: +nav_item('contacts', 'Contacts')
        li: +nav_item('posts',    'Posts')
        li: +nav_item('links',    'Links')
        //- li: +nav_item('vcard',    'VCard')
        li: +nav_item('cv',       'CV')
        li: +nav_item('sounds',       'Sounds')
        //- li: +nav_item('story',    'Story')
        li: +nav_item('social',   'Social')

        //- latest-songs, files
        //- geek code, data (stuff like age,occupation,location),
        //- non-dev stuff, self-created projects,
        //- participated project, latest-posts,

    // MAIN
    main
      content
          
          // TITLE (ABOUT)
          
          include sections/about
          
          // CONTACTS (address and online stuff), VCARD, GEEK-CODE
          
          include sections/contacts
          
          // SOCIAL NETWORKS
          
          include sections/social
          
          // CV & WORK STORY
          
          include sections/work
          
          // GITHUB & PERSONAL PROJECTS (w/description)
          
          include sections/hobby
          
          // MUSIC
          
          include sections/sounds
          
          // LATEST BLOG POSTS
          
          include sections/posts
          
          // NO-PROGRAMMING PROJECTS
          
          include sections/no-code
          
          // SITE HISTORY              
          
          include sections/history

    footer
      p Designed by shaman.sir &copy; 2014
