doctype html

- var css_src = './styles/main.css';
- var favicon_src = './favicon.png';

html(lang='en')

  head
    meta(charset='utf-8')
    link(href=css_src, rel='stylesheet')
    link(rel='shortcut icon', href=favicon_src, type='image/png')

    include head
    include scripts

  // .no-js class will be removed by js, if it's there
  body.no-js.theme-a

    // NAVIGATION
    nav
      ul

        mixin nav_item(id, label)
          a(id!=id+'-href',href!='#'+id,class='nav-link')= label

        li.active
            +nav_item('contacts', 'Contacts')
        li: +nav_item('posts',    'Posts')
        li: +nav_item('links',    'Links')
        //- li: +nav_item('vcard',    'VCard')
        li: +nav_item('cv',       'CV')
        li: +nav_item('sounds',       'Sounds')
        //- li: +nav_item('story',    'Story')
        li: +nav_item('social',   'Social')

        //- latest-songs, files
        //- geek code, data (stuff like age,occupation,location),
        //- non-dev stuff, self-created projects,
        //- participated project, latest-posts,

    // SECTION: ABOUT
    header#about

      div
        include sections/about

    // MAIN
    main

      // SECTION: CONTACTS
      section#contacts
        h2 Contacts

        div
          include sections/contacts

      // SECTION: POSTS
      section#posts
        h2 Posts

        div
          include sections/posts

      // SECTION: LINKS
      section#links
        h2 Links

        div
          include sections/links

      //- // SECTION: VCARD
      //- section#vcard
      //-  h2 VCard

      //-  include sections/vcard

      // SECTION: CV
      section#cv
        h2 CV

        div
          include sections/cv

      // SECTION: CV
      section#sounds
        h2 Sounds

        div
          include sections/sounds

      //- // SECTION: STORY
      //- section#story
      //-   h2 Story

      //-   include sections/story

      // SECTION: SOCIAL
      section#social
        h2 Social

        div
          include sections/social

    footer
      p Designed by shaman.sir &copy; 2014

    script(type='text/javascript').
      if (document.body.classList) {
        document.body.classList.add('loading');
      } else {
        document.body.className += ' loading';
      }
