doctype html

- var css_src = './styles/main_.css';

html(lang='en')

  head
    meta(charset='utf-8')
    link(href=css_src, rel='stylesheet')

    include document/head
    include document/inline-style
    include document/inline-script-begin

  // .no-js class will be removed and replaced with .has-js
  // by JS itself, if it will appear to be actually there
  body.h-card.no-js.theme-a

    // HEADER
    header#about

      div
        include sections/about

    // NAVIGATION
    nav
      h2 Contents

      include sections/nav

    // MAIN
    main

      // SECTION: CONTACTS
      section#contacts
        h2 Contacts

        div
          include sections/contacts

      // SECTION: POSTS
      section#articles
        h2 Articles

        div
          include sections/articles

      // SECTION: LINKS
      section#links
        h2 Links

        div
          include sections/links

      //- // SECTION: VCARD
      //- section#vcard
      //-  h2 VCard

      //-  include sections/vcard

      // SECTION: CV
      section#cv
        h2 Curriculum Vitae

        div
          include sections/cv

      // SECTION: SOUNDS
      section#sounds
        h2 Sounds

        div
          include sections/sounds

      //- // SECTION: STORY
      //- section#story
      //-   h2 Story

      //-   include sections/story

      // SECTION: SOCIAL
      section#social
        h2 Social

        div
          include sections/social

    footer
      p Designed by shaman.sir &copy; 2014

    include document/inline-script-end
