doctype html

- var css_src = './styles/main.css';
- var js_src = './scripts/main.js';
- var favicon_src = './favicon.gif';
- var layout_call = 'layout()';

html(lang='en')

  head
    meta(charset='utf-8')
    link(href=css_src, rel='stylesheet')
    link(rel='shortcut icon', href=favicon_src, type='image/gif')
    script(src=js_src, type='text/javascript')

  body.spatial.theme-a

    // NAVIGATION
    nav
      ul

        mixin nav_item(id, label)
          a.seg-href(id!=id+'-href',
                     href!='#'+id)= label

        li.active
            +nav_item('about',    'About')
        li: +nav_item('contacts', 'Contacts')
        li: +nav_item('posts',    'Posts')
        li: +nav_item('links',    'Links')
        //- li: +nav_item('vcard',    'VCard')
        li: +nav_item('cv',       'CV')
        li: +nav_item('sounds',       'Sounds')
        //- li: +nav_item('story',    'Story')
        li: +nav_item('social',   'Social')

        //- latest-songs, files
        //- geek code, data (stuff like age,occupation,location),
        //- non-dev stuff, self-created projects,
        //- participated project, latest-posts,

    #perspective
      #segments-root

        // SECTION: ABOUT
        header#about.segment
          h1#about-handle.handle About

          include sections/about

        // MAIN
        main
          content

            // SECTION: CONTACTS
            section#contacts.segment
              h2#contacts-handle.handle Contacts

              include sections/contacts

            // SECTION: POSTS
            section#posts.segment
              h2#posts-handle.handle Posts

              include sections/posts

            // SECTION: LINKS
            section#links.segment
              h2#links-handle.handle Links

              include sections/links

            //- // SECTION: VCARD
            //- section#vcard.segment
            //-  h2#vcard-handle.handle VCard

            //-  include sections/vcard

            // SECTION: CV
            section#cv.segment
              h2#cv-handle.handle CV

              include sections/cv

            // SECTION: CV
            section#sounds.segment
              h2#sounds-handle.handle Sounds

              include sections/sounds

            //- // SECTION: STORY
            //- section#story.segment
            //-   h2#story-handle.handle Story

            //-   include sections/story

            // SECTION: SOCIAL
            section#social.segment
              h2#social-handle.handle Social

              include sections/social

    footer
      p Designed by shaman.sir &copy; 2014

    //- canvas(id='cvs',width='1000',height='1000')

    script(type='text/javascript')
      != layout_call

    //- script(type='text/javascript').
      //- var canvas = document.getElementById('cvs');
      //- var ctx = canvas.getContext('2d');
      //- ctx.globalCompositeOperation = "multiply";
      //- ctx.beginPath();
      //- ctx.moveTo(0, 0);
      //- ctx.lineTo(40, 10);
      //- ctx.lineTo(400, 400);
      //- ctx.lineTo(10, 40);
      //- ctx.lineTo(0, 0);
      //- ctx.closePath();
      //- ctx.fillStyle = '#f00';
      //- ctx.fill();

