@import 'bourbon/bourbon'

$text-font: 'Charter', 'Didot', Optima, 'Trebuchet MS', 'Lucia Grande', Futura, sans-serif
$heading-font: 'Gill Sans', Optima, 'Trebuchet MS', 'Lucia Grande', Futura, sans-serif
$nav-font: $heading-font
$links-font: $text-font
$icon-list-font: Optima, 'Trebuchet MS', 'Lucia Grande', Futura, sans-serif
//$lists-font: 'Avenir Next', 'Avenir', sans-serif
$footer-font: $links-font

$root-gradient: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%)
$overflow-gradient: linear-gradient(top, rgba(255,255,255,0) 85%,rgba(255,255,255,.3) 100%)

$transform-transition-opts: .7s
$transform-transition: -webkit-transform $transform-transition-opts//, -moz-transform $transform-transition-opts
$transform-transition-ease-out-opts: .7s ease-out
$transform-transition-ease-out: -webkit-transform $transform-transition-ease-out-opts//, -moz-transform $transform-transition-ease-out-opts

$background-flat: white
$text-flat: black

//$background-3d: #123
//$base-3d: #eeeee0
//$secondary-3d: #38c
//$active-3d: cornsilk
//$inactive-3d: #666
//$accent-3d: lightseagreen
//$hilite-3d: goldenrod
//$hilite-secondary-3d: white
//$hilite-bg-3d: rgba(238,238,238,.1)

$background-3d: #fcfcfc
$base-3d: #090909
$secondary-3d: #393939
$active-3d: #900
$inactive-3d: #ccc
$accent-3d: #600
$hilite-3d: goldenrod
$hilite-secondary-3d: #a00
$hilite-bg-3d: #eee

//$segment-bg-3d: rgba(200,200,200,.05)
//$segment-border-3d: rgba(220,220,220,.05)
//$segment-border-top-3d: #38c

$segment-bg-3d: none
$segment-border-3d: rgba(0,0,0,0) //rgba(0,0,0,.1)
$segment-border-top-3d: #000

//$segment-current-bg-3d: $segment-bg-3d
//$segment-current-border-3d: $segment-border-3d
//$segment-current-border-top-3d: $segment-border-top-3d

//$segment-handle-hover-bg: rgba(238,238,238,.1)
//$segment-handle-hover-color: white
$segment-handle-hover-bg: #eee
$segment-handle-hover-color: #900


html *
  margin: 0
  font-family: $text-font

h1, h2, h3
  font-family: $heading-font

a, a *
  font-family: $links-font

nav a, nav a *
  font-family: $nav-font

footer, footer *
  font-family: $footer-font

// =============================================

body.flat
  background-color: $background-flat
  color: $text-flat

// =============================================

body.has-3d
  overflow: hidden

  a

    &:hover
      +transition(background-color .3s ease-in, border-color .3s ease-in, color .3s ease-in)

  #perspective
    +perspective(800px)

  // ---------------------------------------------

  nav
    ul
      list-style-type: none
      padding: 0
      margin-top: 1em
      margin-left: 1em
      font-size: .8em

      li
        display: inline

        &:before
          content: "•"

        &:last-child-after
          content: "•"

        a
          margin: 0 5px
          padding: 2px

          &:before
            content: "#"
            padding-right: 2px

  // ---------------------------------------------

  #segments-root
    +transition($transform-transition)
    +transform-origin(left top)
    +transform-style(preserve-3d)

    .segment
      position: absolute
      display: block

      border-style: solid
      border-width: 1px
      border-top-width: 2px

      left: 0
      //@include opacity(.5)
      //opacity: .5
      //padding: 3px 10px
      /*min-height: 200px;*/
      /*max-height: 80%;*/ /* use html.clientHeight to calc */
      +transition($transform-transition, border-top-color .5s ease-out, color .3s ease-out) /*, text-shadow 10s ease-out*/
      +transform-origin(left top)
      +backface-visibility(hidden)
      /*@include transform-style(preserve-3d)*/

      .handle
        position: fixed
        font-size: 2em
        width: 100%
        +transform(translateX(-0.9em) translateY(-41px))
        +transition($transform-transition-ease-out)

        &:before
          content: "#"
          padding: 0 3px

        &:hover
          cursor: pointer
          +transition(color .3s ease-out)

      .segment-inner
        overflow-y: scroll
        padding-bottom: 40px
        padding-right: 4px

      ul
        margin: 0
        margin-top: 7px
        list-style-type: none
        padding: 2px

        li
          padding: 5px 3px 3px 3px

          &:hover
            +border-top-radius(0.5em)
            +border-bottom-radius(0.5em)
            +border-left-radius(0.5em)
            +border-right-radius(0.5em)

        &.icon-list
          font-size: 1.15em

          &:hover
            +transition(background-color .3s ease-out, color .3s ease-out)

          li a, li a *
            font-family: $icon-list-font

          li a
            border-bottom: none
            text-decoration: none

            &:hover
              border-bottom: none
              background: none

            & > img
              width: 32px
              height: 32px

            & > span
              position: relative
              top: -0.56em
              margin-left: 6px

            & > p
              width: 84%
              position: relative
              left: 32px
              top: -1.9em
              margin-left: 6px

          li:last-child
            max-height: 4em

    .segment.current

      &:hover

        .handle
          cursor: pointer
          +transition(color .3s ease-out)

  // ---------------------------------------------

  footer
    display: block
    position: fixed
    bottom: 0
    right: 0
    font-size: .6em
    padding: 3px

// colors ----------------------------------------

body.has-3d//.theme-about
  $background: #fcfcfc
  $base: #090909
  $secondary: #393939
  $active: #900
  $current: rgba(60,60,100,1)
  $inactive: #ccc
  $accent: rgba(60,60,100,1)//#600 //rgba(60,60,200,1)
  $hilite: goldenrod
  $hilite-secondary: #a00
  $hilite-bg: #eee

  $segment-bg: none
  $segment-border: rgba(0,0,0,0) //rgba(0,0,0,.1)
  $segment-border-top: #000

  $segment-handle-hover-color: #900

  $root-gradient: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%)
  $overflow-gradient: linear-gradient(top, rgba(255,255,255,0) 85%,rgba(255,255,255,.3) 100%)

  background-color: $background
  color: $base

  .accent
    color: $active

  nav
    ul
      li
        &:before
          color: $inactive
        &:after
          color: $inactive

        a
          color: $active
          text-decoration: none
          border-bottom: 1px solid $secondary

          &:hover
            color: $hilite
            background-color: $hilite-bg
            border-bottom: 1px solid $hilite-secondary

          &.active
            color: $current

          &:before
            color: $hilite

  #segments-root
    +background-image($root_gradient)

    .segment
      background-color: $segment-bg
      border-color: $segment-border
      border-top-color: $segment-border-top

      .handle
        &:before
          color: $hilite
        &:hover
          color: $segment-handle-hover-color

      .segment-inner
        &.overflown
          +background-image($overflow_gradient)

      ul
        li
          &:hover
            background-color: $hilite-bg

        &.icon-list
          a
            color: $base

    .segment.current
      .handle
        color: $current
