html {
    font-size: 16px;
}

body {
    background-color: #fbfbfb;
    color: #27231a;
    /*font-family: Baskerville, Didot, Georgia, Palatino;*/
    font-family: 'Gill Sans', Optima, 'Trebuchet MS', 'Lucia Grande', Futura, sans-serif;
    overflow: hidden;
}

body {
    margin: 1em;
}

body * {
    margin: 0;
    padding: 0;
}

/* STRUCTURE */

header, content section {
    width: 31%;
    float: left;
}

header, section {
    padding: 0.4em;
}

@media screen and (max-width: 960px) {
    header, content section {
        width: 35%;
    }
}

@media screen and (max-width: 720px) {
    header, content section {
        width: 45%;
    }
}

@media screen and (max-width: 640px) {
    header, content section {
        width: 97%;
    }
}

@media screen and (min-width: 1200px) {
    header, content section {
        width: 23%;
    }
}

/* GENERAL STYLES */

a {
    color: #27231a;
    text-decoration: none;
    border-bottom: 1px solid #c66;
}

h2, h3, h4, h5, h6 {
    font-family: Baskerville, Cochin, Georgia, serif;
    /* font-family: Futura, sans-serif; */
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    text-decoration: overline;
}

/* HEADER */

/* header {
    background-color: #27231a;
    color: #fbfbfb;
} */

header {
    text-align: center;
    margin-bottom: 1.5em;
    /* border: 3px solid #27231a; */
    /* border: 3px solid #ccc; */
}

header h1 {
    font-size: 2.4em;
    /* text-decoration: underline; */
    border-bottom: 1px solid #ccc;
}

/* header h1 > span {
    display: inline-block;
}

header h1 > span:first-letter {
    color: #ff0066;
} */

header p:nth-of-type(1) { /* nickname */
    padding: 2px;
    font-size: 1em;
    margin-bottom: 0.8em;
}

header p:nth-of-type(1) span {
    color: #666;
}

header p:nth-of-type(2) { /* qrcode */
    margin-bottom: -0.1em;
}

header p:nth-of-type(3) { /* issue info */
    font-size: 0.65em;
    margin-bottom: 2.5em;
    color: #999;
}

header p:nth-of-type(4) { /* motto */
    font-size: 0.85em;
    padding: 5px;
    background-color: #27231a;
    color: #fbfbfb;
}

/* CONTENT */

/* CONTACTS */

section#contacts {
    border: 1px dashed #27231a;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

section#contacts ul {
    margin-top: 1em;
    margin-bottom: 1em;
    list-style: none;
}

section#contacts ul li {
    text-align: center;
    padding: 0.2em;
}

section#contacts ul li img {
    width: 1em;
    height: 1em;
    position: relative;
    margin-left: -1.5em;
    top: 0.3em;
}

/* FOOTER */

footer {
    border-bottom: 4px solid #f9f9f9;
    /*-webkit-transform: rotate(-20deg) translate(3.5%, -50%);*/
    font-size: 0.7em;
    margin-right: 3px;
    text-align: right;
    color: #999;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}
