html {
    font-size: 16px;
}

body {
    background-color: #fbfbfb;
    color: #27231a;
    /*font-family: Baskerville, Didot, Georgia, Palatino;*/
    font-family: 'Gill Sans', Optima, 'Trebuchet MS', 'Lucia Grande', Futura, sans-serif;
    overflow: hidden;
}

body {
    margin: 1em;
}

body * {
    margin: 0;
    padding: 0;
}

/* STRUCTURE */

header, content section {
    /* float: left; */
    display: inline-block;
}

/* GENERAL STYLES */

a {
    color: #27231a;
    text-decoration: none;
    /*border-bottom: 1px solid #c66;*/
    /*border-bottom: 1px solid #ccc;*/
}

/* a:after {
    content: '%';
    font-size: 0.2em;
    color: #ccc;
} */

h2, h3, h4, h5, h6 {
    /*font-family: Baskerville, Cochin, Georgia, serif;*/
    /* font-family: Futura, sans-serif; */
    text-transform: lowercase;
}

/* HEADER */

/* header {
    background-color: #27231a;
    color: #fbfbfb;
} */

header {
    text-align: center;
    margin-bottom: 1.5em;
    /* border: 3px solid #27231a; */
    /* border: 3px solid #ccc; */
    padding: 0.4em;
    max-width: 30%;
}

header h1 {
    font-size: 2.4em;
    /* text-decoration: underline; */
    border-bottom: 1px solid #ccc;
}

/* header h1 > span {
    display: inline-block;
}

header h1 > span:first-letter {
    color: #ff0066;
} */

header img {
    width: 10em;
    height: 10em;
}

header p:nth-of-type(1) { /* nickname */
    padding: 2px;
    font-size: 1em;
    margin-bottom: 0.2em;
}

header p:nth-of-type(1) span {
    color: #666;
}

header p:nth-of-type(2) { /* logo */
    margin-bottom: 0.2em;
}

header p:nth-of-type(3) { /* issue info */
    font-size: 0.65em;
    margin-bottom: 2.5em;
    color: #999;
}

header p:nth-of-type(4) { /* motto */
    font-size: 0.85em;
    padding: 5px;
    background-color: #27231a;
    color: #fbfbfb;
}

/* CONTENT */

/* CONTACTS */

section#contacts {
    margin: 0 2em;
    padding: 10px;
}

section#contacts h2 {
    /*color: #333;*/
    font-size: 1.9em;
    margin-bottom: 0.4em;
}

section#contacts > ul {
    list-style: none;
    border-left: 4px solid #ccc;
}

section#contacts > ul li {
    padding-top: 0;
    margin-left: 0.2em;
    margin-bottom: 0.6em;
    line-height: 1em;
}

section#contacts > ul li > img {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-left: 10px;
}

/* CV */

section#cv p {
    /*border-top: 1px solid #c66;*/
}

section#cv p span {
    display: block;
    float: left;
    width: 40%;
    text-transform: uppercase;
    /*-webkit-transform: rotate(90deg);*/
}

section#cv p span:first-letter {
    font-size: 9em;
    font-weight: bold;
    float: left;
    text-transform: uppercase;
}

/* QRCODE */

section#qrcode img {
    border: 1px solid #27231a;
    margin: 0.4em;
}

/* FOOTER */

footer {
    border-bottom: 4px solid #f9f9f9;
    /*-webkit-transform: rotate(-20deg) translate(3.5%, -50%);*/
    font-size: 0.7em;
    margin-right: 3px;
    text-align: right;
    color: #999;
    position: fixed;
    right: 0;
    bottom: 0;
}
