html {
    font-size: 16px;
}

body {
    background-color: #fbfbfb;
    color: #27231a;
    /*font-family: Baskerville, Didot, Georgia, Palatino;*/
    font-family: 'Gill Sans', Optima, 'Trebuchet MS', 'Lucia Grande', Futura, sans-serif;
    overflow: hidden;
}

body {
    margin: 5px;
}

body * {
    margin: 0;
    padding: 0;
}

/* STRUCTURE */

header, content section {
    width: 27%;
}

/* GENERAL STYLE */

a {
    color: #27231a;
    text-decoration: none;
    border-bottom: 1px solid #c66;
}

/* HEADER */

/* header {
    background-color: #27231a;
    color: #fbfbfb;
} */

header {
    padding: 0.4em;
    text-align: center;
    /* border: 3px solid #27231a; */
    /* border: 3px solid #ccc; */
}

header h1 {
    font-size: 2.4em;
    /* text-decoration: underline; */
    border-bottom: 1px solid #ccc;
}

/* header h1 > span {
    display: inline-block;
}

header h1 > span:first-letter {
    color: #ff0066;
} */

header p:nth-of-type(1) { /* nickname */
    padding: 2px;
    font-size: 1em;
    margin-bottom: 0.8em;
}

header p:nth-of-type(1) span {
    color: #666;
}

header p:nth-of-type(2) { /* qrcode */
    margin-bottom: -0.1em;
}

header p:nth-of-type(3) { /* issue info */
    font-size: 0.65em;
    margin-bottom: 2.5em;
    color: #999;
}

header p:nth-of-type(4) { /* motto */
    font-size: 0.85em;
    padding: 5px;
    background-color: #27231a;
    color: #fbfbfb;
}

/* CONTENT */

content {
    font-family: Menlo, sans-serif;
}

/* FOOTER */

footer {
    border-bottom: 4px solid #f9f9f9;
    /*-webkit-transform: rotate(-20deg) translate(3.5%, -50%);*/
    font-size: 0.7em;
    margin-right: 3px;
    text-align: right;
    color: #999;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}
