body
    font-family: Baskerville, 'Times New Roman', sans-serif
    margin: 25px
    color: black

h1
    margin-bottom: 40px

h2
    font-size: 0.8em
    text-transform: uppercase
    float: left
    margin: 5px 0
    color: gray

p
    font-size: 18px
    margin-left: 130px
    max-width: 70%

a
    color: #009
    text-decoration: none
    border-bottom: 1px dashed #009
