// http://colorschemedesigner.com/#3o322--E8wtvM
$grayBase: gray;
$theme-a: (
  primary-base:    #0091ba,
  primary-dark:    #23748b,
  primary-darker:  #005987,
  primary-light:   #37b8dc,
  primary-lighter: #62c1dc,
  secondary-a-base:    #ffc000,
  secondary-a-dark:    #be9c30,
  secondary-a-darker:  #a47c00,
  secondary-a-light:   #ffd03f,
  secondary-a-lighter: #ffdc72,
  secondary-b-base:    #f90018,
  secondary-b-dark:    #ba2fc3,
  secondary-b-darker:  #a1000f,
  secondary-b-light:   #fc3f51,
  secondary-b-lighter: #fc717e,
  gray-base:    $grayBase,
  gray-dark:    darken( $grayBase, $gld7),
  gray-darker:  darken( $grayBase, $gld9),
  gray-light:   lighten($grayBase, $gld7),
  gray-lighter: lighten($grayBase, $gld9),
);

@include theme("theme-a", $theme-a)
