body {
	font-family: corbel, 'dejavu sans', garamond, 'lucida grande', consolas, helvetica, sans-serif;
	text-align: center;
	font-size: 14px;
	margin: 0pt 23%;
	height: 100%;
	background-color: #fffff9;
}

code {
	font-family: consolas, 'courier new', sans-serif;
}

/* TODO: group by colors at the top */

h1 {
	font-family: corbel, garamond, helvetica, consolas, sans-serif; 
}

h1 + sup {
	color: #666;
	font-style: italic;	
}

a { 
	color: #003; 
}

a:visited {
	color: #336;	
}

a.disabled {
	color: #eee;
}

#header {
	margin-bottom: 20px;
}

#header h1 {
	margin-bottom: 0pt; 
}

ul {
	padding: 0pt;
}

.title {
	color: #006;
	/* font-style: italic; */
}

.name {
	color: #669;
	font-style: italic;
	font-weight: bold;
	/* font-size: 1em; */
	/* letter-spacing: 0.04em; */
}

img#avatar {
	position: absolute;
	border: 1px solid #000;
	display: block;
	top: 21px;
	height: 120px;
	width: 120px;
}

ul#nav {
	margin-bottom: 23px;
	margin-top: 40px;
}

ul#nav li:first-child {
	list-style: none;
}

ul#nav li, ul.icons li {
	display: inline;
	padding: 10px;
}

/* ul#nav li a {
	background-image: none;
} */

ul#nav li a#active {
	text-decoration: overline;
	/* outline */
}

#content p {
	margin: 13px 0pt;
	/* word-spacing: 0.02em; */
	font-size: 0.9em;
	line-height: 1.5em;
}

#content p a {
	text-decoration: none;
	border-width: 0pt 0pt 1px;
	border-color: #666;
	border-style: dotted;
	background-color: #f3f3f3;
	/* font-style: italic */
}

#content p a:hover {
	border-style: solid;
}

#content p a:visited {
	color: #369;
}

#content p em {
	font-size: 1em;
	/* letter-spacing: 0.04em; */
}

#content p abbr, content p acronym {
    /* outline-color: #ddd;
    outline-style: solid; */
	border-width: 1px 0pt 0pt;
	border-color: #ddd;
	border-style: solid;
}

#footer {
	position: fixed;
	right: 5px;
	bottom: 5px;
	font-size: 0.7em;
	color: #666;
}

#footer a {
	text-decoration: none;
	border: 1px dashed #999;
	margin-left: 2px;
}

ul.icons {
	/* clear: both; */
	/* float: left; */
	/* margin-bottom: 20px; */
	/* margin-top: 20px; */
}

ul.icons li {
}

ul.icons li a {
	text-decoration: none;
	border: none;
}

ul.icons li img {
	/* display: block; */
	width: 16px;
	height: 16px;
	/* border: 1px solid #000; */
	border: none;
}

ul.icons li.delimiter {
	display: inline-block;
	position: relative;
	top: 3px;	
	height: 20px;
	padding: 0pt;
	margin: 0pt 3px;
	border: 1px solid #ddd;
}

dl#references {
	border-top: 1px solid #666;
	margin: 30px 5%;
	color: #666;
	font-size: 0.85em;
	padding-top: 3px;
}

dl#references .title {
	color: #333;
}

dl#references dt {
	float: left;
}

dl#references dd {
	margin: 0pt 15px;
	text-align: left;
}

sup.ref {
	color: #006;
	margin-left: 2px;
}