.segment-inner
  //- TODO: remove segment-inner and use second child of segment?

  h1
    span Ulric
    | &nbsp;
    span Wilfred
  p
    | a.k.a.&nbsp;
    em shaman.sir
  img(width=150, height=150, src='./resources/tsso.svg')
  p Version&nbsp;
    em 9
    | .
  p Updated&nbsp;@&nbsp;
    em 05&nbsp;April 2014, Saturday
    | .
  p Geek-minded <em>JavaScript</em>/<em>Java</em>&nbsp;developer,
    | in love with&nbsp;<em>CG</em>.
  p Located&nbsp;in&nbsp;
    em Munich,&nbsp;Germany.
