div.left

    p My post adress is
      span.address
        | Simeonistraße 6, 4-OG
        | 80637 München
        | Deutchland

    p.phone My telephone is&nbsp;
      a(href='tel:+4914684181188') +49 (146) 8418-11-88

    p.e-mail My e-mail is&nbsp;
      a(href='mailto:shaman.sir@gmail.com') shaman.sir@gmail.com

    p (if you try to reach me, please prefer e-mail over phone)

div.right
