h1 shaman.sir

p
  :markdown
      My real name is _Anton Kotenko_, but I really love nicknames, so you may find me in
      different places as _shaman.sir_ or _Ulric Wilfred_, or even something like _tungusso_ or _zokotuhaFly_.

p Version&nbsp;
  em
    a(href='#history') 10
  | .
p Updated&nbsp;@&nbsp;
  em 20&nbsp;August 2016, Saturday

img(width=150, height=150, src='./resources/tsso.svg')
