img.header-logo(width=150, height=150, src='./resources/tsso.svg')

h1 shaman.sir
p
  :markdown
      My real name is _Anton Kotenko_, but I really love using nicknames, so you may find&nbsp;me in
      different places under the aliases like _shaman.sir_ or _Ulric&nbsp;Wilfred_, or&nbsp;even something like _tungusso_ or _zokotuhaFly_.
p This page was last updated&nbsp;at&nbsp;
  em 13&nbsp;September 2017, Wednesday.
p The version of this page design has number&nbsp;
  em
    a(href='#history') 10
  | .
