p This block is in development. Here you'll find the previous versions of my site designs, may be even the ones were alive at 2003. At some point, I'll resurrect everything. It's fun.

//- ul.dashed-list
  //- li
  //-   a(href='#') Apr 2016
  //- li
  //-   a(href='#') Mar 2016
  //- li
  //-   a(href='#') Feb 2016
