ul.dashed-list
    li When I wanted to know how to build levels in Duke Nukem 3D, I translated to Russian the tutorial of Build (it is the name!) engine.
    li 2005. When I started learning Japanese language (haven't finished it though), my friend gave me a Russian workbook, which had no hyeroglyphs, only romaji, so I decided to add hieroglyphs to all the phrases, which eventually resulted in 250-pages learning book, which was even used by some learners to finish what I haven't ever achieved:&nbsp;
        a(href='http://twitter.com/shaman_sir') PDF
        | .
    li When I wanted to learn Python language, I translated the Python tutorial to Russian:
    li When Google Federation Server was launched, I was very interested in all this collaboration editing, so I developed Sametimed, a FedOne-based chat client:
    li When I got my first Android phone (HTC Hero), I was very excited with the open source idea and tried to build a client for Vimeo video sharing service, I am not sure if it works nowadays:&nbsp;
        a(href='http://instagram.com/shamansir') shamansir
        | .
    li When I first got this famous "Land of Lisp" book, I really loved this "everything is a list" concept, and I also I wanted to try OpenCV, so I developed Nijiato — a finger-recongition project:
    li At some point I was playing with PureData and decided that this kind of interfaces may easily be built with JavaScript. Also I wanted to learn Reactive Programming, so I built a serious project with [Kefir](), an FRP library, which is still in operation
    li At JetBrains, some people were excited with the previous project, so we officially joined with artists there and built a generative artwork generator:
    li When I discovered the profits of Elm language (and I am very glad I did), I was fascinated even more than with Lisp, so eventualy I built a visual-REPL for Elm:
    li 2017. When I discovered that I know a lot about Munich, the city I moved in, including nighlife, I started a Telegram Channel about it, in Russian however:&nbsp;
        a(href='http://t.me/muenchen_flu') München-Flu
        | .
