div
  :markdown
      Before 2004: Playing at home with Delphi, Borland C++ Builder and Python. <!-- I even built a simple neural network UI that days. -->

      Work: Delphi in 2004. Flash Animation. Then Java (Spring/Hibernate). Then PHP and JavaScript. Then Java (Apache Wicket). Then XML/XSLT. Then Java (GWT). Then JavaScript + HTML5 Canvas, creating the animation player. Now JavaScript + React, Elm as a hobby... See [`work`](#work) section for details.

      Did some [`talks`](#talks).

      So, mostly FrontEnd/UI, but not limited to. Lots of stuff happened.

      And a love for visuals, that's what I have. Also [for sound](#sounds).

