ul
    li.twitter I tweet and re-tweet coding-related geeky stuff as 
        a(href='http://twitter.com/shaman_sir') shaman_sir
        | .
    li.facebook I like things, share CG and graffiti videos (also some architecture) in Facebook as 
        a(href='http://facebook.com/shaman.sir') shaman.sir
        | .
    li.instagram I post my pictures of the architecture from all over the world, but mostly Munich, in instagram as 
        a(href='http://instagram.com/shamansir') shamansir
        | .
    li.vimeo In my Vimeo profile, 
        a(href='http://vimeo.com/shamansir') shamansir
        | , you may see some videos of my projects or presentations I made.
    li.speakerdeck At Speakerdeck, there are slides for some of these presentations: 
        a(href='http://speakerdeck.com/shamansir') shamansir
        | .
    li.linkedin At LinkedIn profile, surprisingly 
        a(href='http://www.linkedin.com/in/shamansir') shamansir
        |  you may follow the story of my experience as a developer.
    li.lanyrd You may follow the presentations I visited, plan to visit, or even where I made a talk at, using my Lanyrd profile: 
        a(href='http://lanyrd.com/profile/shaman_sir/') shaman_sir
        | .
