ul.segment-inner.icon-list

  mixin social_item(icon_id, href, text)
    - var prefix  = '<span class=\'accent\'>';
    - var postfix = '</span>';
    - var link_html = text.replace('[', prefix).replace(']', postfix);
    - var img_src = './resources/icons/' + icon_id + '.svg';
    a(href=href,title=text)
      img(src=img_src)
      span!= link_html

  li: +contact_item('social/facebook', '#', 'facebook.com/[shaman.sir]')
  li: +contact_item('social/twitter', '#', 'twitter.com/[shaman_sir]')
  li: +contact_item('social/instagram', '#', 'instagram.com/[shamansir]')
  li: +contact_item('social/vimeo', '#', 'vimeo.com/[shamansir]')
  li: +contact_item('social/lastfm', '#', 'last.fm/[shamansir]')
  li: +contact_item('social/gplus', '#', 'gplus.com/[shamansir]')
  //- li: +contact_item('social/soundcloud', '#', 'soundcloud.com/[shamansir]')
  li: +contact_item('social/goodreads', '#', 'goodreads.com/[shamansir]')
  li: +contact_item('social/foursquare', '#', 'foursquare.com/[shamansir]')
  //- li: +contact_item('social/dribble', '#', 'dribble.com/[shamansir]')
  //- li: +contact_item('social/linkedin', '#', 'soundcloud.com/[shamansir]')
  //- li: +contact_item('social/vkontakte', '#', 'vk.com/shaman.sir')
  //- li: +contact_item('social/steam', '#', '...')
  //- li: +contact_item('social/reddit', '#', '...')
  //- li: +contact_item('social/deviantart', '#', '...')
  //- li: +contact_item('social/youtube', '#', '...')
  //- li: +contact_item('social/friendfeed', '#', '...')
  //- li: +contact_item('social/episodescalendar', '#', '...')
  //- li: +contact_item('social/aboutme', '#', '...')
