ul.segment-inner.icon-list

  mixin social_item(icon_id, href, text)
    - var prefix  = '<span class=\'accent\'>';
    - var postfix = '</span>';
    - var link_html = text.replace('[', prefix).replace(']', postfix);
    - var img_src = './resources/icons/' + icon_id + '.svg';
    a(href=href,title=text)
      img(src=img_src)
      span!= link_html

  li: +contact_item('facebook', 'http://www.facebook.com/shaman.sir', 'facebook.com/[shaman.sir]')
  li: +contact_item('twitter', 'http://twitter.com/shaman_sir', 'twitter.com/[shaman_sir]')
  li: +contact_item('instagram', 'http://instagram.com/shamansir', 'instagram.com/[shamansir]')
  li: +contact_item('vimeo', 'https://vimeo.com/shamansir', 'vimeo.com/[shamansir]')
  li: +contact_item('lastfm', 'http://last.fm/user/shamansir', 'last.fm/[shamansir]')
  li: +contact_item('soundcloud', 'http://soundcloud.com/shamansir/', 'soundcloud.com/[shamansir]')
  //- li: +contact_item('gplus', '#', 'gplus.com/[shamansir]')
  li: +contact_item('goodreads', 'http://www.goodreads.com/user/show/29823581-anton-kotenko', 'goodreads.com/[shamansir]')
  li: +contact_item('foursquare', 'http://foursquare.com/shaman_sir/', '4square.com/[shaman_sir]')
  //- li: +contact_item('dribble', '#', 'dribble.com/[shamansir]')
  //- li: +contact_item('linkedin', '#', 'linkedin.com/[shamansir]')
  //- li: +contact_item('vkontakte', '#', 'vk.com/shaman.sir')
  //- li: +contact_item('steam', '#', '...')
  //- li: +contact_item('reddit', '#', '...')
  //- li: +contact_item('deviantart', '#', '...')
  //- li: +contact_item('youtube', '#', '...')
  //- li: +contact_item('friendfeed', '#', '...')
  //- li: +contact_item('episodescalendar', '#', '...')
  //- li: +contact_item('aboutme', '#', '...')
