ul
    li.twitter I tweet and re-tweet coding-related geeky stuff as&nbsp;
        a(href='http://twitter.com/shaman_sir') shaman_sir
        | .
    li.facebook I like things, share CG and graffiti videos (also some architecture) in Facebook as&nbsp;
        a(href='http://facebook.com/shaman.sir') shaman.sir
        | .
    li.instagram I post my pictures of the architecture from all over the world, but mostly from Munich, in instagram as&nbsp;
        a(href='http://instagram.com/shamansir') shamansir
        | .
    li.vimeo In my Vimeo profile,&nbsp;
        a(href='http://vimeo.com/shamansir') shamansir
        | , you may see some videos of my projects or presentations I made. Please note that some of them are listed in the&nbsp;
        a(href='https://vimeo.com/shamansir/videos/appears/') appearances
        | &nbsp;section of the profile.
    li.speakerdeck At Speakerdeck, there are slides for some of these presentations:&nbsp;
        a(href='http://speakerdeck.com/shamansir') shamansir
        | .
    li.linkedin At LinkedIn profile, surprisingly&nbsp;
        a(href='http://www.linkedin.com/in/shamansir') shamansir,
        |  you may follow the story of my experience as a developer.
    li.lanyrd You may follow the conferences I visited, plan to visit, or even where made a talk at, with the help of my Lanyrd profile:&nbsp;
        a(href='http://lanyrd.com/profile/shaman_sir/') shaman_sir
        | .
