ul.segment-inner.icon-list

  mixin social_item(icon_id, href, text)
    - var prefix  = '<span class=\'accent\'>';
    - var postfix = '</span>';
    - var link_html = text.replace('[', prefix).replace(']', postfix);
    - var img_class = 'icon-s ' + icon_id + '-icon';
    span(class=img_class)
    a(href=href,title=text)!= link_html

  li: +contact_item('facebook', '#', 'facebook.com/[shaman.sir]')
  li: +contact_item('twitter', '#', 'twitter.com/[shaman_sir]')
  li: +contact_item('instagram', '#', 'instagram.com/[shamansir]')
  li: +contact_item('vimeo', '#', 'vimeo.com/[shamansir]')
  li: +contact_item('lastfm', '#', 'last.fm/[shamansir]')
  li: +contact_item('gplus', '#', 'gplus.com/[shamansir]')
  //- li: +contact_item('soundcloud', '#', 'soundcloud.com/[shamansir]')
  li: +contact_item('goodreads', '#', 'goodreads.com/[shamansir]')
  li: +contact_item('foursquare', '#', 'foursquare.com/[shamansir]')
  //- li: +contact_item('dribble', '#', 'dribble.com/[shamansir]')
  //- li: +contact_item('linkedin', '#', 'soundcloud.com/[shamansir]')
  //- li: +contact_item('vkontakte', '#', 'vk.com/shaman.sir')
  //- li: +contact_item('steam', '#', '...')
  //- li: +contact_item('reddit', '#', '...')
  //- li: +contact_item('deviantart', '#', '...')
  //- li: +contact_item('youtube', '#', '...')
  //- li: +contact_item('friendfeed', '#', '...')
