ul.segment-inner

  mixin social_item(img, href, text)
    - var prefix  = '<span class=\'accent\'>';
    - var postfix = '</span>';
    - var link_html = text.replace('[', prefix).replace(']', postfix);
    img(src=img,
        width=25,height=25)
    a(href=href,title=text)!= link_html

  li: +contact_item('', '#', 'facebook.com/[shaman.sir]')
  li: +contact_item('', '#', 'twitter.com/[shaman_sir]')
  li: +contact_item('', '#', 'instagram.com/[shamansir]')
  li: +contact_item('', '#', 'vimeo.com/[shamansir]')
  li: +contact_item('', '#', 'last.fm/[shamansir]')
  li: +contact_item('', '#', 'gplus.com/[shamansir]')
