div.sounds-grid

  ul.albums
    li
      a(href='#')
        img(src='./resources/covers/Back.cover.jpg',width='150px',height='150px')
        span.name Back EP (B-Sides)
        span.year 2015
    li
      a(href='#')
        img(src='./resources/covers/Back.cover.jpg',width='150px',height='150px')
        span.name Back EP
        span.year 2013
    li
      a(href='#')
        img(src='./resources/covers/Back.cover.jpg',width='150px',height='150px')
        span.name nanodisc
        span.year 2005
    li
      a(href='#')
        img(src='./resources/covers/Back.cover.jpg',width='150px',height='150px')
        span.name sh0ck
        span.year 2003

  ul.songs-names
    li Song aaa
    li Song bbb
    li Song ccc
    li Song ddd
