ul.albums
  li
    span.name Back EP (B-Sides)
    |  
    span.year 2015
  li
    span.name Back EP
    |  
    span.year 2013
  li
    span.name nanodisc
    |  
    span.year 2005
  li
    span.name sh0ck
    |  
    span.year 2003  
