div
  :markdown
      My work started in Saint-Petersburg, Russia—the place where I was born.

      Before 2004 I was playing at home with Delphi, Borland C++ Builder and Python. I even built a simple neural network UI these days. Also, I loved to make skins for [Winamp Player](https://en.wikipedia.org/wiki/Winamp) in MS Paint.

      Then, in 2004, I did Delphi for work in Geology Science Institute, where we occasionally travelled to China and Crimea to measure seismic waves. This was kinda a signal analysis, and apparently my very first travels. Also I did Macromedia Flash animation for scientific presentations of our professor.

      Later I switched to Java (Spring/Hibernate), then to PHP and Javascript, then back to Java (Apache Wicket this time) to participate in development of Nikon photo sharing web application, which was later replaced with another one. Then XML/XSLT.

      Somewhere at this point I decided to move to Odessa, Ukraine—and did it, and did a lot of GWT there. Also at that time I started doing [talks](#talks).

      Then I started working for [Animatron](http://animatron.com) company, HQ is in Boston/MA, and eventually moved to Munich, Germany (my life is complicated!). There I did a JavaScript HTML5-Canvas-based player for web animation, which was used to play the projects created in Animatron. I worked there for five years.

      Now I do JavaScript + React/Redux, and sometimes infographics for [JetBrains](http://jetbrains.com) in Munich.

      During all that time, programming was my hobby as well. And still it is. I keep learning new programming languages and concepts, the latest thing I fell in love with is [Elm](http://elm-lang.org). You may see the results of this passion in [hobby](#hobby) section. No less, I have a passion for visuals, typography, as well as [for sound](#sounds).

