p.github
    | My GitHub profile is&nbsp;
    a(href="http://github.com/shamansir") shamansir
    | .

p
    :markdown
        [The Detailed CV](./cv.html).

p
    | Also, in the&nbsp;
    a(href='#social') social
    |  section, you may find several links referring to some of my work-related
    |  information.

// move Speakerdeck / LinkedIn / Lanyrd ... here?

p
    | For the moment, my basic specialities are:&#x20;

p.experience
    | JavaScript, Java, HTML5 Canvas, functional programming.

p
    | Here is the list of the companies I've worked at:


div.timeline
    div
        div#work-timeline
        div#work-controls
    div#work-skills

    ul.work.dashed-list
        li#work-vniiokeangeologiya.russia
            span.place VNIIOkeangeologiya
            | ,&#x20;
            span.occupation Delphi Developer
            | ,&#x20;
            span.period Apr 2004—Mar 2005
        li#work-emdev-llc.russia
            span.place EmDev LLC
            | ,&#x20;
            span.occupation Java Frontend &amp; Delphi Developer
            | ,&#x20;
            span.period May 2005—Oct 2006
        li#work-fabrika-koda.russia
            span.place FK Ltd.
            | ,&#x20;
            span.occupation Javascript Developer
            | ,&#x20;
            span.period Nov 2006—Jun 2007
        li#work-piclinq.russia
            span.place Piclinq Rus / FotoNation Inc.
            | ,&#x20;
            span.occupation Java+Javascript Developer
            | ,&#x20;
            span.period Jul 2007—May 2009
        li#work-sea-project.russia
            span.place Sea Project
            | ,&#x20;
            span.occupation XML/XSLT Developer
            | ,&#x20;
            span.period Aug 2009
        li#work-exectum.russia
            span.place Exectum LLC
            | ,&#x20;
            span.occupation GWT Developer
            | ,&#x20;
            span.period Sep 2009—Feb 2010
        li#work-ipark-ventures.ukraine
            span.place iPark Ventures
            | ,&#x20;
            span.occupation GWT Developer
            | ,&#x20;
            span.period Apr 2010—Jun 2011
        li#work-animatron.germany.ukraine
            span.place Animatron
            | ,&#x20;
            span.occupation JavaScript &amp; GWT Developer
            | ,&#x20;
            span.period Jun 2011—May 2016
        li#work-jetbrains.germany
            span.place JetBrains GmbH
            | ,&#x20;
            span.occupation Front-End Developer
            | ,&#x20;
            span.period May 2016—current
