div.left

    p.experience
        | JavaScript, Java, HTML5 Canvas, functional programming

    ul.work
        li.germany 
            span.place JetBrains GmbH
            | , 
            span.occupation Front-End Developer
            | , 
            span.period May 2016—current 
        li.germany.ukraine 
            span.place Animatron
            | , 
            span.occupation JavaScript &amp; GWT Developer
            | , 
            span.period Jun 2011—May 2016
        li.ukraine 
            span.place iPark Ventures
            | , 
            span.occupation GWT Developer
            | , 
            span.period Apr 2010—Jun 2011
        li.russia 
            span.place Exectum LLC
            | , 
            span.occupation GWT Developer
            | , 
            span.period Sep 2009—Feb 2010
        li.russia 
            span.place Piqlinq Rus / FotoNation Inc.
            | , 
            span.occupation Java+Javascript Developer
            | , 
            span.period Jul 2007—May 2009
        li.russia 
            span.place FK Ltd.
            | , 
            span.occupation Javascript Developer
            | , 
            span.period Nov 2006—Jun 2007
        li.russia 
            span.place EmDev LLC
            | , 
            span.occupation Java Frontend &amp; Delphi Developer
            | , 
            span.period May 2005—Oct 2006
        li.russia 
            span.place VNIIOkeangeologiya
            | , 
            span.occupation Delphi Developer
            | , 
            span.period Apr 2004—Mar 2005
            
    p 
      :markdown
        [The Detailed CV](./cv.html).
        
div.right
    
    p Foobar        
