script(type='text/javascript').
  function setup_nav() {

    //var use_class_lists = !!document.body.classList;

    // inform CSS that JS is here!
    if (document.body.classList) {
      document.body.classList.remove('loading');
      document.body.classList.remove('no-js');
      document.body.classList.add('has-js');
    } else {
      var classes = document.body.className;
      if (classes) {
        // FIXME: check if space was left as first symbol
        document.body.className = classes.replace(/\s*no-js/g, '')
                                         .replace(/\s*loading/g, '')
                                         .replace(/(^\s*)|(\s*$)/g, '') + ' has-js';
      }
    }

    var hashchange_supported = 'onhashchange' in window;

    var prev_section;

    // collect all the sections and their ids
    var section_elms = document.getElementsByTagName('section'),
        sections = {}, section_ids = [];

    for (var i = 0,
         elms_count = section_elms.length,
         link, section, subsections;
         i < elms_count; i++) {
      section = section_elms[i];
      if (!section || !section.id) continue;
      section_ids.push(section.id);
      sections[section.id] = section;
      // we fallback to onclick if hashchange event is not supported,
      // it works almost the same, excluding some nice CSS transitions
      // in special cases
      if (!hashchange_supported) {
        link = document.getElementById(section.id + '-href');
        link.addEventListener('click', activate_section(section), false);
        subsections = link.getAttribute('data-subsections');
        if (subsections) {
          subsections = subsections.split(',');
        }
      }
    }

    check_url_hash();
    if (hashchange_supported) {
      window.addEventListener('hashchange', check_url_hash, false);
    }

    // ================================================================================

    function check_url_hash() {
      if (!section_ids.length) return; // no sections were found
      // activate either first section or the one provided in URL
      var to_select = (window.location && window.location.hash)
                      ? window.location.hash.substr(1)
                      : section_ids[0];
      if (!to_select) return;
      if (!sections.hasOwnProperty(to_select)) to_select = section_ids[0];
      activate_section(sections[to_select])(); // execute immediately
    }

    function activate_section(section) {
      return function(/*evt*/) {
        if (!section) return;
        if (prev_section) {
          // if this section is already activated, exit
          if (prev_section.id == section.id) return;
          if (prev_section.classList) {
            prev_section.classList.remove('active');
          } else {
            prev_section.className = '';
          }
        }
        if (section.classList) {
          section.classList.add('active');
        } else {
          section.className = 'active';
        }
        prev_section = section;
      }
    }

  }

  window.onload = setup_nav;
