// for a case when we'll have a chance to look very ugly because CSS file was lost
style(type='text/css').

  img.svg-icon {
    width: 30px;
    height: 30px;
    padding-right: 6px;
  }

  img.album-cover {
    width: 130px;
    height: 130px;
  }

  header h1 {
    margin-bottom: 0.2em;
  }

  header p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  h2 {
    margin-top: 1.5em;
    border-top: 1px solid #000;
  }

  ul.source-list, ul.tag-list, ul.icon-list {
    list-style-type: none;
  }

  ul.source-list img.svg-icon, ul.tag-list img.svg-icon, ul.icon-list img.svg-icon {
    position: relative;
    top: 9px;
  }

  footer { margin-top: 2em; }
