/* some tricks: whithout them the xslt result is not shown 
   correctly in firefox */

body #left-holder, body #right-holder 
{
	display: block; 
	position: fixed; 
	height: 100%;
}

body .sheet 
{
	position: absolute;
	left: 10%;
}

body #right-holder 
{
	left: 90%;
}

#page-sections-area #sub-nav-holder 
{
	text-align: right;
}

/* some tricks to show xslt result properly in IE */

#page #page-header h1
{
	height: 75px;
}

#basis ul#tab-bar
{
	height: 47px !important;
	height: 50px;
	padding-left: 20px;
}

#basis ul#tab-bar li 
{
	margin-right: 2% !important;
	/* margin-right: 10px; */
	padding-right: 5px;
}

#basis ul#tab-bar li a 
{
	padding: 2px 20px;
}

#page-sections-area #adware-zone a img 
{
	margin: 0px !important;
	margin: 7px 5px;
}

#page-sections-area #adware-zone 
{
	padding-bottom: 20px;
}

span.error-msg 
{
	color: #f00;
	font-weight: bold;
	font-style: italic;
}