html {
    font-size: 22px;
}

body {
    background-color: #fbfbfb;
    color: #27231a;
    /*font-family: Baskerville, Didot, Georgia, Palatino;*/
    font-family: 'Gill Sans', Optima, 'Trebuchet MS', 'Lucia Grande', Futura, sans-serif;
    overflow: hidden;
}


body * {
    margin: 0;
    padding: 0;
}

body {
    /*position: relative;*/
    margin: 6% 27% 10% 27%;
}

*:hover > .accent {
    color: #ff0066;
}

/* #card {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}*/

main {

}

body:before {
    display: inline-block;
    width: 380px;
    height: 350px;
    content: '';
    background-image: url('./tsso_bw_circle.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 90px 73px;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: .018;
    overflow: hidden;
}

header {
    padding-bottom: 10px;
    position: relative;
    /*border-bottom: 2px solid #27231a;
    border-bottom: 2px solid #eee;*/
    -webkit-transform: rotate(-10deg) translate(-30%, 0%);
    /*background: gold;  width: 30em;

 -webkit-transform: matrix(1, -0.1, 0, 1, 0, 0);
      -o-transform: matrix(1, -0.1, 0, 1, 0, 0);
         transform: matrix(1, -0.1, 0, 1, 0, 0);*/
}

header:hover {
    /*background-color: #f6f6f6;*/
    /*border-bottom: 2px solid #999;*/
}

header:before {
    width: 110px;
    height: 110px;
    content: '';
    display: inline-block;
    background-image: url('./vcard.svg');
    background-size: 100%;
    background-position: 0 -110px;
    position: absolute;
    overflow: visible;
    top: 69px;
    left: -37px;
    opacity: 0.3;
    -webkit-transform: translate(118px, -181px);
    z-index: 2;
}

header:hover:before {
    opacity: 1;
}

header #info {
    margin: 16px 0 11px 3px;
    /*-webkit-clip-path: polygon(0% 0%, 3% 100%, 100% 0%);*/
    background: url('./tsso_bw_inverted.svg');
    padding-left: 85px;
    background-size: 92px;
    background-repeat: no-repeat;
    /*background-position: 0px -6px;*/
    background-position: -10px -16px;

}

header #description {
    font-size: 0.65em;
    margin-top: 4px;
    color: #999;
    /* text-align: right; */
    margin-right: 120px;
}

header h1 {
    position: relative;
    left: -3px;
}

nav, content {
    font-family: Menlo, sans-serif;
}


/* nav > ul > li.active a {
    color: #777;
    background-color: #f9f9f9;
}

nav > ul > li a:hover {
    background-color: #eee;
    color: #27231a;
} */

/* #avatar {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 3px;
    right: 3px;
    opacity: 0.05;
    cursor: pointer;
}

#avatar:hover {
    opacity: 1;
} */

.litera {
    position: relative;
    /*font-size: 1.1em;*/
}

/* header:hover .litera, */
header:hover .nickname {
    color: #27231a;
}

.nickname {
    color: #666;
    font-size: 1.2em;
    /*letter-spacing: 1.1em;*/
}

content {
    margin: 5px 0;
    position: relative;
    left: 18%;
    top: 2.5em;
}

content section {
    clear: both;
    padding: 5px;
    margin: 1.5em 0;
}

content section > ul {
    list-style-type: none;
}

content section.list {
    color: #474747;
    line-height: 1.4em;
    font-size: 1em;
    margin-top: 7%;
}

content section.list a {
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    color: inherit;
}

content section.list img {
    width: 48px;
    height: 48px;
    position: relative;
    top: 16px;
    left: 5px;
}

content section.list a:hover {
    background-color: #eee;
}

content section.list .hilite {
    /* color: #ff0066; */
}

nav {
    font-size: .5em;
    /*width: 50%;*/
    -webkit-transform: rotate(-10deg);
    width: 100%;
    /*border-top: 4px solid #eee;*/
    position: fixed;
    left: 0;
}

nav > ul {
    /* border-top: 10px solid #eee;*/
    /*border-top: 1px solid #f9f9f9;*/
    /*border-top: 1px solid #eee;*/
    list-style-type: none;
    /*overflow: hidden;*/
    text-align: right;
}

nav > ul > li {
    display: inline;
    font-size: 1.5em;
    margin: 5px 0;
}

nav > ul > li a {
    /* color: #bbb; */
    color: #27231a;
    text-decoration: none;
    border-top: 1px solid #ccc;
    font-weight: bold;
    padding: 5px;
    line-height: 1.6em;
}

nav > ul > li a:hover {
    background-color: #eee;
}

nav > ul > li.active > a {
    padding-top: 20px;
    background-color: #000;
    color: #fff;
    border-width: 0;
}

nav > ul > li.active > a:hover {
    background-color: #ccc;
}

nav > ul > li.nav0 > a:hover {
    /*background-color: #ff0fff;
    color: #fff;*/
    /*background-color: #fd0000;*/
    color: #42007c;
}

nav > ul > li.nav1 > a:hover {
    /*background-color: #029bc4;*/
    color: #dc3015;
}

nav > ul > li.nav2 > a:hover {
    /*background-color: #2a832d;*/
    color: #f72b99;
}

nav > ul > li.nav3 > a:hover {
    /*background-color: #fdff00;*/
    color: #2a832d;
}

nav > ul > li.nav4 > a:hover {
    /*background-color: #fdff00;*/
    color: #c2c2c2;
}

nav > ul > li.nav5 > a:hover {
    /*background-color: #fdff00;*/
    color: #fd0000;
}

nav > ul > li.nav6 > a:hover {
    /*background-color: #fdff00;*/
    color: #029bc4;
}

nav > ul > li > a:hover {
    color: #333;
}

footer {
    border-bottom: 4px solid #f9f9f9;
    /*-webkit-transform: rotate(-20deg) translate(3.5%, -50%);*/
    font-size: 0.5em;
    margin: 3px 6px;
    text-align: right;
    color: #999;
    position: absolute;
    right: 0;
    width: 100%;
    bottom: 0;
}
