html * {
  margin: 0;
}

canvas {
  position: absolute;
  background-color: rgba(255, 255, 0, 0.15);
}

.segment {
  position: absolute;
  display: block;
  border: 1px solid #0f0;
  border-top-color: #000;
  background-color: #f00;
  opacity: 0.6;
  top: 0;
  left: 0;
  min-height: 200px;
}
