$transform-transition-opts: .7s
$transform-transition: transform $transform-transition-opts, -webkit-transform $transform-transition-opts, -moz-transform $transform-transition-opts, -ms-transform $transform-transition-opts, -o-transform $transform-transition-opts
$transform-transition-ease-out-opts: .7s ease-out
$transform-transition-ease-out: transform $transform-transition-ease-out-opts, -webkit-transform $transform-transition-ease-out-opts, -moz-transform $transform-transition-ease-out-opts, ms-transform $transform-transition-ease-out-opts, -o-transform $transform-transition-ease-out-opts

body.spatial

  #segments-root
    +transition($transform-transition)

    .segment
      +transition($transform-transition)

      .handle
        +transition($transform-transition-ease-out)

        &:hover
          +transition(color .3s ease-out)
