$text-font: 'Charter', 'Didot', Optima, 'Trebuchet MS', 'Lucia Grande', Futura, sans-serif
$heading-font: 'Gill Sans', Optima, 'Trebuchet MS', 'Lucia Grande', Futura, sans-serif
$nav-font: $heading-font
$links-font: $text-font
$icon-list-font: $text-font // Optima, 'Trebuchet MS', 'Lucia Grande', Futura, sans-serif
//$lists-font: 'Avenir Next', 'Avenir', sans-serif
$footer-font: $links-font

html *
  margin: 0
  font-family: $text-font

h1, h2, h3
  font-family: $heading-font

a, a *
  font-family: $links-font

nav a, nav a *
  font-family: $nav-font

footer, footer *
  font-family: $footer-font

#segments-root .segment
  ul.icon-list
    li a, li a *
      font-family: $icon-list-font
      //font-weight: lighter
