@charset "UTF-8";
body {
  font-family: "Avenir Next", Avenir, Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  color: #333333;
  width: 60%;
  margin: 75px 80px;
  /* font-size: 16px */ }

h1 {
  font-family: "Gill Sans", "Lucia Grande", Futura, "Trebuchet MS", sans-serif;
  font-size: 2.8em;
  margin-bottom: 2px; }

h3 {
  margin-top: 0;
  color: #666666; }

h4 {
  margin-top: 60px; }

hr {
  height: 0;
  border-width: 1px;
  border-style: solid;
  color: #aaaaaa; }

dl dt {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 0.9em;
  font-style: italic;
  color: #666666; }

dl#experience > dt, dl#education > dt {
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  margin-top: 30px;
  color: #666666; }
dl#experience > dt:after, dl#education > dt:after {
  content: "⇣";
  margin: 4px;
  position: relative;
  top: 4px;
  color: #cccccc; }
dl#experience > dd, dl#education > dd {
  padding-left: 25px;
  border-left: 2px solid #eeeeee; }

dl#personal-info > dd > ul {
  padding-left: 16px; }

ul#recommendations {
  list-style-type: none; }
  ul#recommendations li {
    margin-bottom: 30px;
    border-left: 2px solid #cccccc; }
    ul#recommendations li > blockquote {
      margin-left: 25px; }
    ul#recommendations li p:first-child:first-letter {
      font-size: 1.2em; }

#favorite-books .author {
  font-style: italic; }

dl#contacts > dt {
  margin: 0 2px;
  float: left;
  clear: left;
  text-align: right; }
dl#contacts > dt:after {
  content: ":"; }
dl#contacts > dd {
  margin: 2px 2px 2px 25%; }

#footer {
  margin-top: 14em;
  text-align: center;
  font-size: 0.8em; }
  #footer hr {
    display: none; }
  #footer p:last-child {
    border-top: 1px solid #aaaaaa;
    padding-top: 7px;
    margin-bottom: 5em;
    margin-right: 25%;
    margin-left: 25%; }
  #footer:after {
    content: "— ※ —";
    color: #aaaaaa; }

@media screen and (max-width: 840px), print {
  body {
    width: 80%;
    margin: 40px;
    font-size: 14px; }

  ul, dl {
    margin: 0; }

  h4 {
    clear: left;
    margin-top: 41px;
    margin-bottom: 6px; }

  dl {
    clear: both; }
    dl dt {
      margin: 0 2px;
      float: left;
      clear: left;
      overflow: hidden; }
    dl dd {
      margin: 2px 2px 2px 30%; }

  dl#experience > dt, dl#education > dt {
    margin-top: 10px;
    margin-bottom: 4px; }

  dl#experience > dd, dl#education > dd,
  ul#recommendations {
    margin-left: 10px;
    padding-left: 15px;
    border-left: none;
    margin-bottom: 10px; }

  #skills dd {
    margin-left: 45%; } }
@media screen and (max-width: 640px) {
  body {
    font-size: 12px; } }
@media screen and (max-width: 560px) {
  body {
    font-size: 10px; } }
@media screen and (min-width: 1110px) {
  body {
    width: 50%; } }
@media print {
  body {
    width: 85%;
    margin: 20px 10px;
    font-size: 12px; } }
