body
  color: #333
  font-family: 'Avenir Next', Avenir, Arial, Helvetica, sans-serif
  letter-spacing: 0
  margin: 75px 80px
  width: 60%
  // font-size: 16px

h1
  font-family: 'Gill Sans', 'Lucia Grande', Futura, 'Trebuchet MS', sans-serif
  font-size: 2.8em
  margin-bottom: 2px

h3
  color: #666
  margin-top: 0

h4
  margin-top: 60px

hr
  border-style: solid
  border-width: 1px
  color: #aaa
  height: 0

dl dt
  color: #666
  font-size: 0.9em
  font-style: italic
  margin-bottom: 5px
  margin-top: 20px

dl#experience, dl#education

  & > dt
    color: #666
    font-size: 1em
    font-style: normal
    font-weight: bold
    margin-top: 30px

  & > dt::after
    color: #ccc
    content: '⇣'
    margin: 4px
    position: relative
    top: 4px

  & > dd
    border-left: 2px solid #eee
    padding-left: 25px

dl#personal-info > dd > ul
  padding-left: 16px

ul#recommendations
  list-style-type: none

  li
    border-left: 2px solid #ccc
    margin-bottom: 30px

    & > blockquote
      margin-left: 25px

    p:first-child:first-letter
      font-size: 1.2em

#favorite-books .author
  font-style: italic

dl#contacts

  & > dt
    clear: left
    float: left
    margin: 0 2px
    text-align: right

  & > dt::after
    content: ':'

  & > dd
    margin: 2px 2px 2px 25%

#footer
  font-size: 0.8em
  margin-top: 14em
  text-align: center

  hr
    display: none

  p
    &:last-child
      border-top: 1px solid #aaa
      margin-bottom: 5em
      margin-left: 25%
      margin-right: 25%
      padding-top: 7px

  &::after
    color: #aaa
    content: '— ※ —'


$width-narrower: 'screen and (max-width: 560px)'
$width-narrow:   'screen and (max-width: 640px)'
$width-normal:   'screen and (max-width: 840px)'
$width-wide:     'screen and (min-width: 1110px)'

@media #{$width-normal}, print

  body
    font-size: 14px
    margin: 40px
    width: 80%

  ul, dl
    margin: 0

  h4
    clear: left
    margin-bottom: 6px
    margin-top: 41px

  dl
    clear: both

    dt
      clear: left
      float: left
      margin: 0 2px
      overflow: hidden

    dd
      margin: 2px 2px 2px 30%

  dl#experience > dt, dl#education > dt
    margin-bottom: 4px
    margin-top: 10px

  dl#experience > dd, dl#education > dd,
  ul#recommendations
    border-left: none
    margin-bottom: 10px
    margin-left: 10px
    padding-left: 15px

  #skills dd
    margin-left: 45%

@media #{$width-narrow}

  body
    font-size: 12px

@media #{$width-narrower}

  body
    font-size: 10px

@media #{$width-wide}

  body
    width: 50%

@media print

  body
    font-size: 12px
    margin: 20px 10px
    width: 85%
